
@import url('https://fonts.googleapis.com/css?family=Barlow:100');

body {
	padding-top: 60px;
	background-image: url("../images/edited_landscape.jpg");
	background-size: 170%;
	background-repeat: no-repeat;
}

.jumbotron {
	background-color: rgb(38, 38, 38);
	color: white;
	font-family: 'Barlow';
	font-style: extra-light;
}

.body-container {
	width: 89%;
	border-radius: 5px;

	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 30px;

	background-color: rgb(38, 38, 38);
	color: white;
	font-family: 'Barlow';
	font-style: extra-light;
}

.navbar {
	margin-bottom: 0px;

	border: 0px;

	background-color: rgb(38, 38, 38);
	color: #00bda0;
	font-family: 'Barlow';
	font-style: extra-light;
}

.navbar .navbar-brand {
	color: #00bda0;
	font-style: light;
	font-size: 24px;
}

.nav li a:hover{
	background-color: rgb(54, 54, 54) !important;
}
.small-icon{
	width: 60px;
	height: 60px;
	margin-top: -20px;
}

button {
	font-style: medium;
}

#navbarcontainer li a {
	color: #00bda0;
}
#logo {
	width: 100px;
	height: 100px;
	margin-top: -20px;
}